body {
    
    background: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(55, 54, 54) 100%);
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    height: 100vh; 
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  
 
  h3:hover {
    color: #c41919;
  }

  


  
  
#text {
    text-align: left;
    position: absolute;
    color: white;
    font-size: 1.2em;
    width: 800px;
    margin-top: 50px;
    margin-left: 27px;
  }
  
a:hover {
    color: #fff;
  }

.navbar {
    background-color: #333;
    overflow: hidden;
    
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 400ms ease-out;
}
.navbar a:hover {
    background-color: #b5b5b5;
    color: black;
    transition: all 400ms;
}

.navbar a.active {
    background-color: #6f00ff;
    color: white;
}

#titel1 {
    color: #fff;
    text-align: left;
    margin-top: 130px;
    margin-left: 300px;
}

h3 {
  text-decoration: none;
}

iframe {
  margin-left: 1000px;
}